{extend name='layout'}
{block name='body'}
{Ke:seturl name='create,edit,delete'}
{Ke:seturl name='manageEdit' link='auth.manage/edit'}
<div class="row">
  <div class="title">管理操作日志</div>
  <div class="nav">
  </div>
</div>
<div class="margin-li">

  <!-- 筛选框 start -->
  <el-form :inline="true" :model="search" size="mini">


    <el-form-item label="只看">
      <el-input v-model="search.key" @keyup.enter.native="onSearch" placeholder="管理ID"></el-input>
    </el-form-item>


    <el-form-item label="日期">
      <el-date-picker
        v-model="search.date"
        align="right"
        type="daterange"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
        :picker-options="dateQuick">
      </el-date-picker>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" @click="onSearch">筛选</el-button>
    </el-form-item>
  </el-form>
  <!-- 筛选框 end -->


  <el-table
    v-loading="loadList"
    :data="list"
    border
    stripe>
    <el-table-column prop="id" label="ActionID" width="240">
      </el-table-column>
    <el-table-column prop="user_id" label="管理ID" width="80">
      <template slot-scope="scope">
        <a @click="maps('manageEdit',{ id: scope.row.user_id })">{{ scope.row.user_id }}</a>
      </template>
      </el-table-column>
    <el-table-column prop="create_time" label="操作时间" width="160">
      </el-table-column>
    <el-table-column prop="desc" label="描述">
      </el-table-column>

  </el-table>




  <!-- 分页 start -->
  <div class="block">
    <el-pagination
      layout="sizes, total, prev, pager, next, jumper"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="size"
      :total="total"
      @size-change="tabSize"
      @current-change="loadLists">
    </el-pagination>
  </div>
  <!-- 分页 end -->

</div>
{/block}