{extend name='layout'}
{block name='body'}
{Ke:seturl name='create,edit,delete,listsRole,createRole,editRole,deleteRole'}
<div class="row">
	<div class="title">管理员管理</div>
	<div class="nav">
	</div>
</div>
<el-table
  v-loading="loadList"
  :data="list"
  border
  stripe>
    <el-table-column type="index" width="55">
	</el-table-column>
  <el-table-column prop="group" label="分组" width="100">
  	</el-table-column>
  <el-table-column prop="name" label="角色名称" width="100">
  	</el-table-column>
  <el-table-column prop="content" label="备注">
  	</el-table-column>
</el-table>
{/block}